<header ng-include="'/views/partials/avatar-header.html'"></header>
<div id="header-spacer"></div>

<div ng-controller="avatarsController">
    <div class="row mt-5" ng-controller="avatarsController">
        <div class="col-md-6 offset-md-1">
            <div class="ap-heading mb-5 ap-hpad">Select an avatar image for yourself to be seen during the game</div>
            <div class="row">
                <div ng-repeat="(index , avatar) in avatars track by $index" class="col-2">
                    <a href="javascript:;" ng-click="checkAvatar(index)">
                        <span id="avatar{{index}}Span" class="signup-avatar">
                            <img ng-src="{{ avatar }}">
                        </span>
                    </a>
                </div>
            </div>
            <div class='mt-5 mb-4' >
                <button ng-click="finish()" class="butA ap-button">FINISH</button>
                <div class="ap-error text-center mt-4 mb-2" id="avatarError">Please select an avatar</div>
            </div>
        </div>
        <div class="col-md-4 offset-md-1">
            <div class="ap-heading mb-5">Select your region</div>
            <div ng-repeat='location in locations track by $index' class='mb-4'>
                <input class='float-left region-radio' name='location' ng-click="selectLocation(location)" value='{{$index}}' type='radio' >
                <span class='float-left region-text'>{{ location }}</span>
                <div class='clear'></div>
            </div>
        </div>
    </div>
</div>