<style>
  /* Style the tab */

  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }

  /* Style the buttons that are used to open the tab content */

  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }

  /* Change background color of buttons on hover */

  .tab button:hover {
    background-color: #ddd;
  }

  /* Create an active/current tablink class */

  .tab button.active {
    background-color: #ccc;
  }

  /* Style the tab content */

  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .tabcontent {
    animation: fadeEffect 1s;
    /* Fading effect takes 1 second */
  }

  /* Go from zero to full opacity */

  @keyframes fadeEffect {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>

<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">Search</button>
  <button class="tablinks" onclick="openCity(event, 'Paris')">Friends</button>
</div>

<!-- Tab content -->
<div id="London" class="tabcontent">

  <div class="modal-header">
    <h4 class="modal-title">Search for Users</h4>
  </div>
  <!-- Modal body  -->
  <div ng-hide="(game.player.length > game.playerMaxLimit)" class="modal-body" style="">
    <p style="text-align:center; color: red;">{{ message }}</p>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="type a name to search" autocomplete="off" ng-change="searchUser()" ng-blur=""
        ng-model="searchTerm" id="name">
    </div>
    <div>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="user in searchResult" style="width:100%">
          <div class="row" style="width:100%">
            <div class="col-md-6">
              <p>{{user.name}}</p>
            </div>
            <div class="col-md-6">
              <button class="btn btn-sm btn-warning" ng-click="inviteUser(user.email)" ng-disabled="isInvited(user.email)" style="float:left; margin-right: 5px;">invite</button>
              <button class="btn btn-sm btn-success" ng-click="" ng-disabled="" style="float:left">Add as friend</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>

<div id="Paris" class="tabcontent">


</div>

<script>
  document.getElementById("defaultOpen").click();
  function openCity(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }

</script>