<!-- ******************************************** -->
<!--                Header                        -->
<!-- ******************************************** -->

<header>
    <div class="page-align">
        <div class="row">
            <div class="col-12 col-md-3">
                <img src="/assets/img/logo.png" id="header-logo"> 
            </div>
            <div class="hidden-sm-down col-md-9">
                <a target="_blank" href="https://www.crowdrise.com/donate/project/cfhio/cards4humanity?widget=true&redirect_to=http%3A%2F%2Fcfh.io%2F%23!%2F&stylesheet=&amounts=">
                    <button class="butB header-buttons float-right" type="button">DONATE</button>
                </a>
                <a href="#!/"><span class="header-links float-right" style="margin-right:25px;">HOME</span></a>
                <div class="clear"></div>
            </div>
        </div>
        <div class="hidden-md-up" id="navbar">
            <a href="#!/">
                <span class="">HOME</span>
            </a>
            <a target="_blank" href="https://www.crowdrise.com/donate/project/cfhio/cards4humanity?widget=true&redirect_to=http%3A%2F%2Fcfh.io%2F%23!%2F&stylesheet=&amounts=">
                <span>DONATE</span>
            </a>
            <div class="clear"></div>
        </div>
    </div>
</header>
<div id="header-spacer"></div>

<!-- ******************************************** -->
<!--                Banner                        -->
<!-- ******************************************** -->

<section id="testimony-banner">
    <div class="overlay" id="testimony-banner-overlay"></div>
    <div class="overlay-top">
        <div class="row">
            <div class="col-10 offset-1">
                <div class="text-center" id="testimony-banner-heading">Donate to Charity</div>
                <p class="text-center" id="banner-heading-small">ALL DONATIONS GOES TO THE MAKE-A-WISH FOUNDATION</p>
            </div>
        </div>
    </div>
</section>

<!-- ******************************************** -->
<!--         About Make-A-Wish Foundation         -->
<!-- ******************************************** -->

<section id="testimony-about">
    <div class="row">
        <div class="col-12 col-lg-7">
            <div id="testimony-about-heading" class='text-center'>ABOUT MAKE A WISH FOUNDATION</div>
            <p id="testimony-about-body">
                Tens of thousands of volunteers, donors and supporters advance the Make-A-Wish vision to grant the wish of every child diagnosed with a life-threatening medical condition. In the United States and its territories, on average, a wish is granted every 34 minutes. We believe a wish experience can be a game-changer. This one belief guides us and inspires us to grant wishes that change the lives of the kids we serve. 
                Wishes are only made possible through the hard work of many dedicated staff, volunteers, donors and other supporters.
            </p>
            <!--  Needed for page section redirect -->
            <span id="cfhtestimonies"></span>
        </div>
        <div class="hidden-md-down col-lg-5">
            <div id="testimony-video">
                <iframe width="530" height="380" src="https://www.youtube.com/embed/knm7czbQV7w" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

<!-- ******************************************** -->
<!--                   Testimonies                -->
<!-- ******************************************** -->

<section id="main-testimonies">
    <div class="page-align">
        <div id="main-testimony-heading" class='text-center'>TESTIMONIES</div>
        <div class="row testimonies">
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Testimoy 1 -->
                <div class="testimony">
                    <img src="/assets/img/testimonies/family-1.jpg">
                    <p>
                        So when Make-A-Wish granted Emily a wish, it was no surprise
                        that Emily chose to go to the island of St. Thomas.
                        <br><br> 
                        Emily was battling Hodgkin's
                        Lymphoma, and according to her dad, just thinking about this wish gave Emily a
                        much needed light at the end of the tunnel.
                    </p>
                    <div>Emily's Family</div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Testimoy 1 -->
                <div class="testimony">
                    <img src="/assets/img/testimonies/hannah.jpg">
                    <p>
                        We got to see Hannah laugh like she's never laughed before. She giggled and giggled ...
                        <br><br> 
                        we saw a personality and happiness we've never seen in 8 years.
                    </p>
                    <div>Hannah</div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Testimoy 1 -->
                <div class="testimony">
                    <img src="/assets/img/testimonies/michele.jpg">
                    <p>
                        Ever since I was very little, I've loved Hollywood, I've loved flashing lights, 
                        I've loved the whole scenario of film festivals, Michele said.
                        <br><br>
                        Michele's wish was to go to the Cannes to view her film. 
                    </p>
                    <div>Michele</div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Testimoy 1 -->
                <div class="testimony">
                    <img src="/assets/img/testimonies/corey.jpg">
                    <p>
                        Writing about children with life-threatening medical conditions can 
                        tear at your heart strings, but the hope, strength and joy that 
                        Make-A-Wish volunteers and staff provide is so powerful that I know 
                        every minute I spent at Make-A-Wish was worth it.
                    </p>
                    <div>Corey's Experience</div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Testimoy 1 -->
                <div class="testimony">
                    <img src="/assets/img/testimonies/family-2.jpg">
                    <p>
                        Diagnosed with cancer in infancy, six-year-old Gracie from New Market, 
                        Maryland has always wanted to meet Cinderella. Gracie had no idea of 
                        what was in store for her when she told Make-A-Wish her wish to meet her favorite princess Cinderella,
                        The wish was magical right from the start.
                    </p>
                    <div>Gracie's Family</div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Testimoy 1 -->
                <div class="testimony">
                    <img src="/assets/img/testimonies/tiffany.jpg">
                    <p>
                        I haven't seen Tiffany smile this much in a long time. I believe every child
                        with a life-threatening illness should be able to have a wish because a wish
                        renews hope and inspiration.
                        <br><br>
                        Tiffany's wish was to go to the Walt Disney World Resort.
                    </p>
                    <div>Tiffany's Family</div>
                </div>
            </div>
            </div>
        </div>
</section>

<!-- ******************************************** -->
<!--                     Footer                   -->
<!-- ******************************************** -->    

<footer ng-include src='"/views/partials/footer.html"'></footer>
