<div class="page-align mt-5">
    <div class="row">
        <div class="col-12 col-lg-6">
            <h6 class="bold">CARDS FOR HUMANITY</h6>
            <p class="text-left" id="footer-text">
                This is a platform where you can share you recipes ideas whether learn't for invented and
                it will be shared with the rest of the world, giving you the opportunity of getting reviews and feedback
                for the recipe 
            </p>
            <div id="footer-base">
                &copy; COPYWRITE 2017 CARDS FOR HUMANITY &nbsp;&nbsp;.&nbsp;&nbsp; ALLRIGHTS RESERVED &nbsp;&nbsp;.&nbsp;&nbsp; K2-TEAM
            </div>
        </div>
        <div class="col-4 col-lg-2">
            <div class="footer-heading">LINKS</div>
            <div id="footer-links">
                <a href="#"><span>HOME</span></a>
                <a href="#"><span>TESTIMONIES</span></a>
                <a href="#"><span>HOW TO PLAY</span></a>
            </div>
            <span id="footer-follow">FOLLOW US ON</span>
            <div>
                <span class="float-left fb-bg text-center footer-social">
                    <i class="fa fa-facebook"></i>
                </span>
                <span class="float-left tw-bg text-center footer-social">
                        <i class="fa fa-twitter"></i>
                </span>
                <span class="float-left gg-bg text-center footer-social">
                    <i class="fa fa-google"></i>
                </span>
                <span class="float-left gh-bg text-center footer-social">
                    <i class="fa fa-github"></i>
                </span>
                <div class="clear"></div>
            </div>
        </div>
        <div class="col-8 col-lg-3">
            <div class="footer-heading">OUR NEWS LETTER</div>
            <p class="text-left" id="footer-nl-text">Get game and charity stories updates</p>
            <input type="email" class="footer-nl-field" placeholder="Email address">
            <button class="butA footer-nl-button">SUBSCRIBE</button>
            
        </div>
    </div>
</div>