<header>
    <div class="page-align">
        <div class="row">
            <div class="col-12 col-md-3">
                <img src="/assets/img/logo.png" id="header-logo"> 
            </div>
            <div class="hidden-sm-down col-md-9">
                <button class="butB header-buttons float-right" ng-click="abandonGame()" type="button">ABANDON GAME</button>
                <div ng-show="!game.state">
                    <button class="butA header-buttons float-right" type="button" id="signInModalShow">SIGN IN</button>
                    <a target="_blank" href="https://www.crowdrise.com/donate/project/cfhio/cards4humanity?widget=true&redirect_to=http%3A%2F%2Fcfh.io%2F%23!%2F&stylesheet=&amounts=">
                        <button class="butB header-buttons float-right" type="button">DONATE</button>
                    </a>
                    <a href="#!/testimonies"><span class="header-links float-right" style="margin-right:30px;">TESTIMONIES</span></a>
                    <a href="#howtoplay" target="_self">
                        <span class="header-links float-right">HOW TO PLAY {{ game.state }}</span>
                    </a>
                    <a href="#!/"><span class="header-links float-right">HOME</span></a>
                </div>
                
                
                <div class="clear"></div>
            </div>
        </div>
        <div class="hidden-md-up" id="navbar">
            <a href="#!/">
                <span class="">HOME</span>
            </a>
            <a href="#!/testimonies">
                <span class="">TESTIMONIES</span>
            </a>
            <a href="#howtoplay" target="_self">
                <span class="">HOW TO PLAY</span>
            </a>
            <a href="javascript:;" id="signInModalShow2">
                <span>SIGN IN</span>
            </a>
            <a target="_blank" href="https://www.crowdrise.com/donate/project/cfhio/cards4humanity?widget=true&redirect_to=http%3A%2F%2Fcfh.io%2F%23!%2F&stylesheet=&amounts=">
                <span>DONATE</span>
            </a>
            <div class="clear"></div>
        </div>
    </div>
</header>