<header>
  <div class="page-align">
      <div class="row">
          <div class="col-12 col-md-3">
              <img src="/assets/img/logo.png" id="header-logo"> 
          </div>
          <div class="hidden-sm-down col-md-9" ng-controller="InviteUserController">
              <button class="butB header-buttons float-right" ng-click="abandonGame()" type="button">ABANDON GAME</button>
              <button
                  style="cursor: pointer"
                  class="butB header-buttons float-right dropdown show" 
                  ng-click="viewNotification()" 
                  type="button">
                  <i class="fa fa-bell" aria-hidden="true"></i> <sup style="top: -1.0em; font-size: 10px">{{notifications.length}}</sup>
              </button>

              <div>
                  <div id="notify" class="modal fade" role="dialog" >
                      <div class="modal-dialog">
                      <div class="modal-content" style="margin-left: auto; margin-right: auto; text-align:center">
                          <div class="modal-header" style="background-color: #256188; color: #FFF; border-top-right-radius: unset; border-top-left-radius: unset">
                          <h4 class="modal-title" style="margin-right:auto; margin-left:auto; margin-top: .5rem; line-height: 1">Cards For Humanity</h4>
                          </div>
                          <div class="modal-body" style="height: 200px; overflow: scroll;">
                          <table class="table table-striped">
                              <tr ng-repeat="notice in notifications" class="notification">
                              <td>{{notice.message}}</td>
                              <td><a target="_blank" href="{{notice.link}}"><button>join</button></a></td>
                              </tr>
                          </table>
                          </div>
                          <div class="modal-footer" style="background-color: #256188; color: #FFF; padding-top: 10px; padding-bottom: 10px">
                          <button style="background: #FF8800; color: #FFF; border-radius: 12px; font-family: cursive; font-size: 1.1rem; padding: .1rem 2rem; cursor: pointer" type="button" class="btn btn-sm" data-dismiss="modal">Close</button>
                          </div>
                      </div>
                      </div>
                  </div>
              </div>
              <div ng-show="!game.state">
                  <button class="butA header-buttons float-right" type="button" id="signInModalShow">SIGN IN</button>
                  <a target="_blank" href="https://www.crowdrise.com/donate/project/cfhio/cards4humanity?widget=true&redirect_to=http%3A%2F%2Fcfh.io%2F%23!%2F&stylesheet=&amounts=">
                      <button class="butB header-buttons float-right" type="button">DONATE</button>
                  </a>
                  <a href="#!/testimonies"><span class="header-links float-right" style="margin-right:30px;">TESTIMONIES</span></a>
                  <a href="#howtoplay" target="_self">
                      <span class="header-links float-right">HOW TO PLAY {{ game.state }}</span>
                  </a>
                  <a href="#!/"><span class="header-links float-right">HOME</span></a>
              </div>
              
              
              <div class="clear"></div>
          </div>
      </div>
      <div class="hidden-md-up" id="navbar">
          <a href="#!/">
              <span class="">HOME</span>
          </a>
          <a href="#!/testimonies">
              <span class="">TESTIMONIES</span>
          </a>
          <a href="#howtoplay" target="_self">
              <span class="">HOW TO PLAY</span>
          </a>
          <a href="javascript:;" id="signInModalShow2">
              <span>SIGN IN</span>
          </a>
          <a target="_blank" href="https://www.crowdrise.com/donate/project/cfhio/cards4humanity?widget=true&redirect_to=http%3A%2F%2Fcfh.io%2F%23!%2F&stylesheet=&amounts=">
              <span>DONATE</span>
          </a>
          <div class="clear"></div>
      </div>
  </div>
</header>