<h4 class="su-heading">Sign Up</h4>
<h6 class="su-heading-small">Create an account to have access to full functionalities</h6>
<div class="row">
    <div class="col-6">
        <span class="signup-social fb-bg">
            <i class="fa fa-facebook float-left"></i>
            <span class="float-left">Sign Up with Facebook</span>
            <div class="clear"></div>
        </span>
    </div>
    <div class="col-6">
        <span class="signup-social gh-bg">
            <i class="fa fa-github float-left"></i>
            <span class="float-left">Sign Up with Github</span>
            <div class="clear"></div>
        </span>
    </div>
</div>
<div class="row mt-3">
    <div class="col-6">
        <span class="signup-social gg-bg">
            <i class="fa fa-google float-left"></i>
            <span class="float-left">Sign Up with Google</span>
            <div class="clear"></div>
        </span>
    </div>
    <div class="col-6">
        <span class="signup-social tw-bg">
            <i class="fa fa-twitter float-left"></i>
            <span class="float-left">Sign Up with Twitter</span>
            <div class="clear"></div>
        </span>
    </div>
</div>
<div class="hr" id="signup-hr"></div>
<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="fullname" class="su-label">FULLNAME</label>
            <input id="fullname" class="su-field" type="text">
        </div>
        <div class="form-group">
            <label for="email" class="su-label">ACTIVE EMAIL</label>
            <input id="email" class="su-field" type="email">
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="username" class="su-label">USERNAME</label>
                        <input id="username" class="su-field" type="text">
                    </div>
                </div>
                <div class="col-6" style="padding-left:0;">
                    <div class="form-group">
                        <label for="password" class="su-label">PASSWORD</label>
                        <input id="password" class="su-field" type="password">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="su-label">SELECT AVATAR IMAGE</label>
            <div style="display:none;">
                <input type="radio" id="avatar1" name="avatar-cb" value="1">
                <input type="radio" id="avatar2" name="avatar-cb" value="2">
                <input type="radio" id="avatar3" name="avatar-cb" value="3">
                <input type="radio" id="avatar4" name="avatar-cb" value="4">
                <input type="radio" id="avatar5" name="avatar-cb" value="5">
                <input type="radio" id="avatar6" name="avatar-cb" value="6">
                <input type="radio" id="avatar7" name="avatar-cb" value="7">
                <input type="radio" id="avatar8" name="avatar-cb" value="8">
                <input type="radio" id="avatar9" name="avatar-cb" value="9">
                <input type="radio" id="avatar10" name="avatar-cb" value="10">
                <input type="radio" id="avatar11" name="avatar-cb" value="11">
            </div>                            
            <div class="row">

                <div class="col-2">
                    <a href="javascript:;" id="avatar1Link">
                        <span id="avatar1Span" class="signup-avatar">
                            <img src="/assets/img/avatars/1.png">
                        </span>
                    </a>
                </div>
                <div class="col-2">
                    <a href="javascript:;" id="avatar2Link">
                        <span id="avatar2Span" class="signup-avatar">
                            <img src="/assets/img/avatars/2.png">
                        </span>
                    </a>
                </div>
                <div class="col-2">
                    <a href="javascript:;" id="avatar3Link">
                        <span id="avatar3Span" class="signup-avatar">
                            <img src="/assets/img/avatars/3.png">
                        </span>
                    </a>
                </div>
                <div class="col-2">
                    <a href="javascript:;" id="avatar4Link">
                        <span id="avatar4Span" class="signup-avatar">
                            <img src="/assets/img/avatars/4.png">
                        </span>
                    </a>
                </div>
                <div class="col-2">
                    <a href="javascript:;" id="avatar5Link">
                        <span id="avatar5Span" class="signup-avatar">
                            <img src="/assets/img/avatars/5.png">
                        </span>
                    </a>
                </div>
                <div class="col-2">
                    <a href="javascript:;" id="avatar6Link">
                        <span id="avatar6Span" class="signup-avatar">
                            <img src="/assets/img/avatars/6.png">
                        </span>
                    </a>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-2">
                    <a href="javascript:;" id="avatar7Link">
                        <span id="avatar7Span" class="signup-avatar">
                            <img src="/assets/img/avatars/2.png">
                        </span>
                    </a>
                </div>
                <div class="col-2">
                    <a href="javascript:;" id="avatar8Link">
                        <span id="avatar8Span" class="signup-avatar">
                            <img src="/assets/img/avatars/3.png">
                        </span>
                    </a>
                </div>
                <div class="col-2">
                    <a href="javascript:;" id="avatar9Link">
                        <span id="avatar9Span" class="signup-avatar">
                            <img src="/assets/img/avatars/4.png">
                        </span>
                    </a>
                </div>
                <div class="col-2">
                    <a href="javascript:;" id="avatar10Link">
                        <span id="avatar10Span" class="signup-avatar">
                            <img src="/assets/img/avatars/5.png">
                        </span>
                    </a>
                </div>
                <div class="col-2">
                    <a href="javascript:;" id="avatar11Link">
                        <span id="avatar11Span" class="signup-avatar">
                            <img src="/assets/img/avatars/6.png">
                        </span>
                    </a>
                </div>
            </div>
        </div> 
        <button class="butA su-button signup-button">CREATE ACCOUNT</button>
    </div>
</div>