
<h4 class="su-heading">Sign In</h4>
<h6 class="su-heading-small">Sign-In to your account for suentication</h6>
<div class="row">
    <div class="col-12">
        <div class="su-error">
            Please provide required information
        </div>
        <div class="form-group">
            <label for="email" class="su-label">EMAIL</label>
            <input id="email" class="su-field" type="email">
        </div>
        <div class="form-group">
            <label for="password" class="su-label">PASSWORD</label>
            <input id="password" class="su-field" type="password">
        </div>
        <div>
            <button class="float-left butA su-button">SIGN IN</button>
            <a href="#"><span class="float-right" id="signin-forgot">FORGOT PASSWORD</span></a>
            <div class="clear"></div>
        </div>
    </div>
</div>