<h4 class="su-heading">
    Sign In
    <a href='javascript:;' ng-click='hideWhiteBox()'>
        <i class='close-button float-right fa fa-times'></i>
    </a>
    <div class='clear'></div>
</h4>
<h6 class="su-heading-small">Sign-In to your account for authentication</h6>
<div class="row">
    <div class="col-6">
        <a href="/auth/facebook">
            <span class="signup-social fb-bg">
                <i class="fa fa-facebook float-left"></i>
                <span class="float-left">Signin with Facebook</span>
                <div class="clear"></div>
            </span>
        </a>
    </div>
    <div class="col-6">
        <a href="/auth/github">
            <span class="signup-social gh-bg">
                <i class="fa fa-github float-left"></i>
                <span class="float-left">Signin with Github</span>
                <div class="clear"></div>
            </span>
        </a>
    </div>
</div>
<div class="row mt-3">
    <div class="col-6">
        <a href="/auth/google">
            <span class="signup-social gg-bg">
                <i class="fa fa-google float-left"></i>
                <span class="float-left">Signin with Google</span>
                <div class="clear"></div>
            </span>
        </a>
    </div>
    <div class="col-6">
        <a href="/auth/twitter">
            <span class="signup-social tw-bg">
                <i class="fa fa-twitter float-left"></i>
                <span class="float-left">Signin with Twitter</span>
                <div class="clear"></div>
            </span>
        </a>
    </div>
</div>
<div class="row" ng-init='init()'>
    <div class="col-12">
        <div class="su-error" id="signinFlash">
            Please provide required information
        </div>
        <div class="form-group">
            <label for="email" class="su-label">EMAIL</label>
            <input id="signinEmail" class="su-field" ng-model='credentials.email' type="text">
        </div>
        <div class="form-group">
            <label for="password" class="su-label">PASSWORD</label>
            <input id="signinPassword" class="su-field" ng-focus="" ng-model='credentials.password' type="password">
        </div>
        <div>
            <button class="float-left butA su-button" ng-click='signin()'>SIGN IN</button>
            <a href="#">
                <span class="float-right" id="signin-forgot">FORGOT PASSWORD</span>
            </a>
            <div class="clear"></div>
        </div>
    </div>
</div>