<div id="startGame" style="opacity: 1" ng-init="loadModal()" ng-show="game.state === 'awaiting players' || game.playerIndex === 0 || game.joinOverride">
  <div id="start" class="modal fade" style="opacity: 1; z-index: 20000; position:absolute; top: 50px;" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">

        <div ng-model="game" class="modal-body text-center">
          <div class="modal-header">
            <h4 class="text-center">Card For Humanity</h4>
          </div>

          <h4 style="font-weight:bold; border-bottom: 1px solid #ccc; padding-bottom: 15px; padding-top: 15px; color:rgb(29, 28, 28)">Cards For Humanity</h4>
          <span style="top: 10px;">
            <br/>
            <button ng-hide="game.playerIndex !== 0" ng-disabled="game.players.length < 3" ng-click="startGame()" class="btn" data-dismiss="modal"
              style="color:#fff; background-color:green">Start Game</button>
          </span>
          <span>
            <button ng-hide="game.playerIndex !== 0" ng-disabled="game.players.length >= 12" data-toggle="modal" data-target="#myModal"
              class="btn" style="color:#fff; background-color:blue">Invite Players</button>
          </span>
          <br/>
          <br/>
          <figcaption>
            <span style="font-weight:bolder">You need at least three players to start the game</span>
            <br /> Finding Players
            <span style="color: green">{{game.notification}}</span>
            <br />
            <br />
            <div id="loading-container">
              <div id="loading-gif">
                <img ng-src="../img/loader.gif" />
              </div>
            </div>
            <span ng-show="game.players.length >= 3">Waiting for {{game.players[0].username}} to start the game
              <br>
            </span>
            <br>{{game.players.length}} players found</figcaption>
        </div>
        <div class="modal-footer">
          <button id="close" type="button" ng-click="abandonGame()" class="btn btn-danger" data-dismiss="modal">Exit Game</button>
        </div>
      </div>
    </div>
  </div>
</div>