@font-face{
	font-family : 'Tangerine';
	src: url('fonts/Tangerine-Bold.ttf') format('truetype');
	font-weight: 600;
}

@font-face{
	font-family : 'Tangerine';
	src: url('fonts/Tangerine-Regular.ttf') format('truetype');
	font-weight: 400;
}